@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('roboto-v18/roboto-v18-regular.eot');
  src: url('roboto-v18/roboto-v18-regular.eot') format('embedded-opentype'),
  url('roboto-v18/roboto-v18-regular.woff2') format('woff2'),
  url('roboto-v18/roboto-v18-regular.woff') format('woff'),
  url('roboto-v18/roboto-v18-regular.ttf') format('truetype'),
  url('roboto-v18/roboto-v18-regular.svg#Roboto}') format('svg');
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('roboto-v18/roboto-v18-500.eot');
  src: url('roboto-v18/roboto-v18-500.eot') format('embedded-opentype'),
  url('roboto-v18/roboto-v18-500.woff2') format('woff2'),
  url('roboto-v18/roboto-v18-500.woff') format('woff'),
  url('roboto-v18/roboto-v18-500.ttf') format('truetype'),
  url('roboto-v18/roboto-v18-500.svg#Roboto}') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('roboto-mono-v7/roboto-mono-v7-regular.eot');
  src: url('roboto-mono-v7/roboto-mono-v7-regular.eot') format('embedded-opentype'),
  url('roboto-mono-v7/roboto-mono-v7-regular.woff2') format('woff2'),
  url('roboto-mono-v7/roboto-mono-v7-regular.woff') format('woff'),
  url('roboto-mono-v7/roboto-mono-v7-regular.ttf') format('truetype'),
  url('roboto-mono-v7/roboto-mono-v7-regular.svg#Roboto}') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: url('roboto-mono-v7/roboto-mono-v7-500.eot');
  src: url('roboto-mono-v7/roboto-mono-v7-500.eot') format('embedded-opentype'),
  url('roboto-mono-v7/roboto-mono-v7-500.woff2') format('woff2'),
  url('roboto-mono-v7/roboto-mono-v7-500.woff') format('woff'),
  url('roboto-mono-v7/roboto-mono-v7-500.ttf') format('truetype'),
  url('roboto-mono-v7/roboto-mono-v7-500.svg#RobotoMono}') format('svg');
}
